.swiper {
    width: 75vw;
    height: 30vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-image{
    display: block;
    width: 25vw;
    height: 25vw;
    border-radius: 4px;
}

.spotify {
    width: 30px;
    height: 30px;
}